json flows.json
[{"id":"ec970d0c.8cc4b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"974f19f7.3afb48","type":"ui_form","z":"ec970d0c.8cc4b","name":"","label":"","group":"5b89c839.f436e8","order":0,"width":0,"height":0,"options":[{"label":"Cement","value":"cmt","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fa","type":"number","required":true,"rows":null},{"label":"Water","value":"wtr","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"sup","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate ","value":"coa","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fag","type":"number","required":true,"rows":null},{"label":"Age(day)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cmt":"","bfs":"","fa":"","wtr":"","sup":"","coa":"","fag":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":60,"wires":[["88c964f1.461478"]]},{"id":"88c964f1.461478","type":"function","z":"ec970d0c.8cc4b","name":"PreToken","func":"global.set(\"cmt\", msg.payload.cmt)\nglobal.set(\"bfs\", msg.payload.bfs)\nglobal.set(\"fa\" , msg.payload.fa)\nglobal.set(\"wtr\", msg.payload.wtr)\nglobal.set(\"sup\", msg.payload.sup)\nglobal.set(\"coa\", msg.payload.coa)\nglobal.set(\"fag\", msg.payload.fag)\nglobal.set(\"age\", msg.payload.age)\nvar apikey=\"K2ccPSSNsSaB4S0oPeTxj47OPLsrtb_Mc3cU5T0qq28L\"\nmsg.headers={\"content-type\":\"application/x-wwwform-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":140,"wires":[["345282bd.912fee"]]},{"id":"345282bd.912fee","type":"http request","z":"ec970d0c.8cc4b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":220,"wires":[["926c93bb.6f05","2bfb8b52.771694"]]},{"id":"2bfb8b52.771694","type":"function","z":"ec970d0c.8cc4b","name":"Pre Prediction","func":"var cmt=global.get(\"cmt\")\nvar bfs=global.get(\"bfs\")\nvar fa=global.get(\"fa\")\nvar wtr=global.get(\"wtr\")\nvar sup=global.get(\"sup\")\nvar coa=global.get(\"coa\")\nvar fag=global.get(\"fag\")\nvar age=global.get(\"age\")\nvar token = msg.payload.access_token\nvar instance_id =\"9af53cb9-edfc-4764-9c7d-919e5ad08979\"\nmsg.header={'Content-Type': 'application/json',\n      Accept: 'application/json',\n      Authorization: `Bearer ${token}`,\"ML-Instance-ID\":\"instance_id\"}\nmsg.payload={\"input_data\": ['{\"fields\":[\"Cement (component 1)(kg in a m^3 mixture)\"],\"values\":[cmt]},{\"fields\":[\"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\"],\"values\":[bfs]},{\"fields\":[\"Fly Ash (component 3)(kg in a m^3 mixture)\"],\"values\":[fa]},{\"fields\":[\"Water (component 4)(kg in a m^3 mixture)\"],\"values\":[wtr]},{\"fields\":[\"Superplasticizer (component 5)(kg in a m^3 mixture)\"],\"values\":[sup]},{\"fields\":[\"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\"],\"values\":[coa]},{\"fields\":[\"Fine Aggregate (component 7)(kg in a m^3 mixture)\"],\"values\":[fag]},{\"fields\":[\"Age (day)\"],\"values\":[age]}']}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["add8409d.340e2"]]},{"id":"add8409d.340e2","type":"http request","z":"ec970d0c.8cc4b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/9af53cb9-edfc-4764-9c7d-919e5ad08979/deployments/d39ee795-4b7b-48f4-80f5-de46ad3bf8d4/online","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":140,"wires":[["be9b02b3.270c7","42e4e188.e4e7b"]]},{"id":"926c93bb.6f05","type":"debug","z":"ec970d0c.8cc4b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":400,"wires":[]},{"id":"be9b02b3.270c7","type":"function","z":"ec970d0c.8cc4b","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["c503794c.632fb8","42e4e188.e4e7b"]]},{"id":"c503794c.632fb8","type":"ui_text","z":"ec970d0c.8cc4b","group":"5b89c839.f436e8","order":1,"width":0,"height":0,"name":"Compressive Strength","label":"","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":420,"wires":[]},{"id":"42e4e188.e4e7b","type":"debug","z":"ec970d0c.8cc4b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"5b89c839.f436e8","type":"ui_group","z":"","name":"Default","tab":"4bdb7733.103648","order":1,"disp":true,"width":"6","collapse":false},{"id":"4bdb7733.103648","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]